<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <!-- <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">
            <img [src]="contact.avatar" class="avatar contact-avatar huge m-0" [alt]="contact.name" />
            <div class="contact-name mt-8">{{contact.name}}</div>
        </mat-toolbar-row> -->
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="contactForm">

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Name</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="name" formControlName="name" matInput required>
                    <mat-error>Name is required!</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Project ID</mat-label>
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <input name="projectID" formControlName="projectID" matInput required>
                    <mat-error>Project ID is required!</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Zip Code</mat-label>
                    <mat-icon matSuffix class="secondary-text">markunread_mailbox</mat-icon>
                    <input #zipCode name="zipCode" formControlName="zipCode" matInput required>
                    <mat-hint align="end">{{zipCode.value.length}} / 5</mat-hint>
                    <mat-error>Zip Code is required!</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field style="width: 100%;">
                    <mat-label>Support User</mat-label>
                    <mat-select required formControlName="support_user" name="support_user">
                        <mat-option *ngFor="let user of users" [value]="user._id">
                            {{user.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="action == 'edit'" fxLayout="row" fxLayoutAlign="start start">
                <button type="button" (click)="fileType='projectLogo';fileInput.click()" mat-fab class="accent">
                    <mat-icon matSuffix class="secondary-text">attach_file</mat-icon>
                    <input (onFileSelected)="onFileSelected($event)" style="display:none;" type="file" name="file"
                        #fileInput ng2FileSelect [uploader]="uploader" />
                </button>
                <mat-form-field class="example-full-width" style="margin-left: 10px;">
                    <input disabled placeholder="Project Logo" matInput [value]="fileInput.files[0] ? fileInput.files[0].name : '' ">
                </mat-form-field>
            </div>
            <div *ngIf="action == 'edit'" fxLayout="row" fxLayoutAlign="start start">
                <button type="button" (click)="fileType='companyLogo';fileInput.click()" mat-fab class="accent">
                    <mat-icon matSuffix class="secondary-text">attach_file</mat-icon>
                    <input (onFileSelected)="onFileSelected($event)" style="display:none;" type="file" name="file"
                        #fileInput ng2FileSelect [uploader]="uploader" />
                </button>
                <mat-form-field class="example-full-width" style="margin-left: 10px;">
                    <input disabled placeholder="Company Logo" matInput [value]="fileInput.files[0] ? fileInput.files[0].name : '' ">
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Pressure Sensor</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="pressureSensor" formControlName="pressureSensor" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Flow Meter</mat-label>
                    <mat-icon matSuffix class="secondary-text">star</mat-icon>
                    <input name="flowMeter" formControlName="flowMeter" matInput>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>OPTO Groov RIO</mat-label>
                    <mat-icon matSuffix class="secondary-text">email</mat-icon>
                    <input name="optoG" formControlName="optoG" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Solenoid Valves</mat-label>
                    <mat-icon matSuffix class="secondary-text">domain</mat-icon>
                    <input name="solenoidValues" formControlName="solenoidValues" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" class="textarea-wrapper" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Notes</mat-label>
                    <textarea name="notes" formControlName="notes" matInput type="text" max-rows="4"></textarea>
                </mat-form-field>
            </div>



        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button *ngIf="action === 'edit'" mat-button class="mr-8" (click)="matDialogRef.close(['delete',contactForm])"
            aria-label="Delete" matTooltip="Delete">
            DELETE
        </button>

        <button *ngIf="action !== 'edit'" mat-button class="save-button" (click)="matDialogRef.close(contactForm)"
            [disabled]="contactForm.invalid" aria-label="SAVE">
            ADD
        </button>

        <button *ngIf="action === 'edit'" mat-button class="save-button"
            (click)="matDialogRef.close(['save',contactForm])" [disabled]="contactForm.invalid" aria-label="SAVE">
            SAVE
        </button>

    </div>
</div>