<div class="navbar-top" [ngClass]="fuseConfig.layout.navbar.secondaryBackground">

    <div class="logo">
        <!-- <img class="logo-icon" fxHide fxShow.lt-md src="assets/images/logos/shumakar.png">
        <img class="logo-icon-custom" fxHide fxShow.gt-md src="assets/images/logos/shumakar_full.png"> -->
        <span class="logo-text secondary-text"></span>
    </div>

    <div class="buttons">

        <button mat-icon-button class="toggle-sidebar-folded" fxHide fxShow.gt-md (click)="toggleSidebarFolded()">
            <mat-icon class="secondary-text">menu</mat-icon>
        </button>

        <button mat-icon-button class="toggle-sidebar-opened" fxHide fxShow.lt-md (click)="toggleSidebarOpened()"
            fxHide.gt-md>
            <mat-icon class="secondary-text">arrow_back</mat-icon>
        </button>

    </div>

</div>


<div class="navbar-scroll-container" [ngClass]="fuseConfig.layout.navbar.primaryBackground" fusePerfectScrollbar
    [fusePerfectScrollbarOptions]="{suppressScrollX: true}">

    <div class="user" fxLayout="column" [ngClass]="fuseConfig.layout.navbar.secondaryBackground">
        <p style="margin-top: -25px; font-weight: bold;">Your Technician Is</p>
        <div class="h3 username">{{userData.name}}</div>
        <a href="mailto:{{userData.email}}">{{userData.email}}</a>
        <a [hidden]="!userData.phone" href="tel:{{userData.phone}}">{{userData.phone}}</a>
        <div class="avatar-container" [ngClass]="fuseConfig.layout.navbar.primaryBackground">
            <img class="avatar" onerror="this.src='assets/images/avatars/profile.jpg';" [src]="userData.selfie">
        </div>

    </div>

    <div class="navbar-content">
        <fuse-navigation class="material2" layout="vertical"></fuse-navigation>
        <div class="load_and_go_image_wrapper">
            <img src="assets/images/logos/shumakar_full.png" />
        </div>
    </div>

</div>