.fuse-card-auto-width{
    max-width: auto;
    min-width: 320px;
    border-radius: 8px;
    border: 1px solid;
    background: white;
    border-color: rgba(0, 0, 0, 0.12);
}

.learned-it{
    background: #4CAF50 !important;
    color: white !important;
}