<div class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->
        <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
            <h2 class="m-0">Actions</h2>
            <div fxLayout="row" [@animate]="{value:'*',params:{y:'50px'}}" fxLayoutGap="10px" class="p-16">
                <button
                 [ngClass]="(this.setting.segment_settings && this.setting.segment_settings.toUpdate) ? 'learned-it' : '' "
                    mat-raised-button class="compose-dialog-button" (click)="initiateLearning()"
                    aria-label="Compose">
                    {{(setting.segment_settings && setting.segment_settings.toUpdate)  ? '' : 'Initiate'}} Learning
                </button>
                <button [ngClass]="(setting.segment_settings && setting.segment_settings.toUpdate) ? '': 'learned-it' "
                    mat-raised-button class="compose-dialog-button" (click)="initiateMonitoring()"
                    aria-label="Compose">
                    {{ (setting.segment_settings && setting.segment_settings.toUpdate) ? 'Initiate' : ''}} Monitoring
                </button>
            </div>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8">
                <span>Segment Settings</span>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content p-24" fusePerfectScrollbar fxLayout="column">


                <mat-tab-group>
                    <mat-tab label="Settings">
                        <div class="my-16" fxLayoutAlign="space-between center" style="align-items: baseline;" fxLayout.gt-md="row"
                            fxLayout.lt-md="column">

                            <div class="fuse-card-auto-width">

                                <div class="p-16" fxLayout="row" fxLayoutAlign="center center">
                                    <div class="h1 pr-16">Learned Values</div>
                                </div>

                                <table class="simple clickable">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Segment</th>
                                            <th class="text-center">Flow(GPM)</th>
                                            <th class="text-center">Pressure(PSIG)</th>
                                            <th class="text-center">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let row of setting.segment_settings.settings">
                                            <td class="text-center " style="min-width: 150px;">{{row.key}}</td>
                                            <td class="text-center">{{row.Flow}}</td>
                                            <td class="text-center">{{row.Pressure}}</td>
                                            <td class="text-center">
                                                <mat-slide-toggle fxFlex class="mat-accent" aria-label="Cloud" (change)="updateSegmentSettings(row)" [(ngModel)]="row.status" labelPosition="before"></mat-slide-toggle>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>



                            </div>
                            <div class="fuse-card-auto-width">

                                <div class="p-16" fxLayout="row" fxLayoutAlign="center center">
                                    <div class="h1 pr-16">Alert Values</div>
                                </div>

                                <table class="simple clickable">
                                    <thead>
                                        <tr>
                                            <th class="text-center">High Flow</th>
                                            <th class="text-center">Low Flow</th>
                                            <th class="text-center">High Pressure</th>
                                            <th class="text-center">Low Pressure</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr (click)="editMonitoringValues()"
                                            *ngFor="let row of setting.monitoring_setting.settings">
                                            <td class="text-center">{{row.maxFlow }}</td>
                                            <td class="text-center">{{row.minFlow }}</td>
                                            <td class="text-center">{{row.maxPressure}}</td>
                                            <td class="text-center">{{row.minPressure }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </mat-tab>
                    <mat-tab label="Mappings">
                        <table class="simple clickable">
                            <thead>
                                <tr>
                                    <th class="text-left">Segment</th>
                                    <th class="text-left">Mapping</th>
                                    <th class="text-left">
                                        <button mat-icon-button (click)="addToMappingArray()">
                                            <mat-icon matSuffix class="secondary-text">add_circle</mat-icon>
                                        </button>

                                    </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of setting.segment_mappings.mappings">
                                    <td class="text-left">
                                        <mat-form-field class="example-full-width">
                                            <input matInput [(ngModel)]="row.key" [value]="row.key">
                                        </mat-form-field>
                                    </td>
                                    <td class="text-left">
                                        <mat-form-field class="example-full-width">
                                            <input matInput [(ngModel)]="row.mapping" [value]="row.mapping">
                                        </mat-form-field>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                        <div class="my-10" fxLayout="row" fxLayoutAlign="center center">
                            <button mat-raised-button class="accent my-16" (click)="saveSegmentMappings()">SAVE</button>
                        </div>
                    </mat-tab>
                </mat-tab-group>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>