#dashboard-project {

    > .sidebar {
        width: 280px;
        min-width: 280px;
        max-width: 280px;

        .tag {
            font-size: 11px;
            border-radius: 2px;
            margin: 8px 4px 0 0;
            padding: 3px 8px;
            background-color: rgba(0, 0, 0, 0.08);

            .tag-color {
                width: 8px;
                height: 8px;
                margin-right: 8px;
                border-radius: 50%;
                background-color: red;
            }
        }
    }

    > .center {

        > .header {
            height: 160px;
            min-height: 160px;
            max-height: 160px;

            .selected-project {
                background: rgba(0, 0, 0, 0.12);
                color: #FFFFFF;
                padding: 8px 16px;
                height: 40px;
                line-height: 24px;
                font-size: 16px;
                border-radius: 8px 0 0 0;
            }

            .project-selector {
                margin-left: 1px;
                background: rgba(0, 0, 0, 0.12);
                border-radius: 0 8px 0 0;

                mat-icon {
                    color: #FFFFFF;
                }
            }
        }

        > .content {
            flex: 1;

            mat-tab-group {
                height: 100%;

                .mat-tab-body-wrapper {
                    flex-grow: 1;
                }
            }

            .mat-tab-label-container {
                padding: 0 24px;
            }
        }
        
    }

    .widget {

        &.widget5 {

            .gridline-path.gridline-path-horizontal {
                display: none;
            }
        }
    }
}

