<div id="dashboard-project" class="page-layout simple right-sidebar inner-scroll" fxLayout="row">

    <!-- CENTER -->
    <div class="center" fusePerfectScrollbar>

        <!-- HEADER -->
        <div class="header accent p-24 pb-0" fxLayout="column" fxLayoutAlign="space-between">

            <div fxLayout="row" fxLayoutAlign="space-between start">

                <span class="mat-display-1 my-0 my-sm-24 welcome-message"
                    [@animate]="{value:'*',params:{x:'50px'}}">Welcome, {{userData.name}}!
                </span>

                <button mat-icon-button class="sidebar-toggle mr-8" fxHide.gt-md
                    (click)="toggleSidebar('project-dashboard-right-sidebar-1')">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>

            <div fxLayout="row">

                <div class="selected-project">{{projectDetails ? projectDetails.name : ''}}</div>

                <button mat-icon-button class="project-selector" [matMenuTriggerFor]="projectsMenu"
                    aria-label="Select project">
                    <mat-icon>more_horiz</mat-icon>
                </button>

                <mat-menu #projectsMenu="matMenu">
                    <button mat-menu-item *ngFor="let project of projects" (click)="selectProjectForSA(project)">
                        <span>{{project.name}}</span>
                    </button>
                </mat-menu>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content">



            <div class="widget-group p-12" fxLayout="row wrap" fxFlex="100" *fuseIfOnDom
                [@animateStagger]="{value:'50'}">
                <!--  Static Data 1-->
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100"
                    fxFlex.gt-xs="50" fxFlex.gt-md="25">

                    <!-- Front -->
                    <div class="fuse-widget-front">
                        <div class="pl-16 pr-8 py-16 h-52" fxFlex="100" fxLayout="row"
                            fxLayoutAlign="space-between center">
                            <mat-form-field fxFlex="80" floatLabel='never'>
                                <mat-label>Date</mat-label>
                                <input [max]="maxDateStatWidget" placeholder="Date" matInput
                                    [(ngModel)]="dashBoardData.avgCycleCals"
                                    (dateChange)="reLoadStaticWidgets(dashBoardData.avgCycleCals)"
                                    [matDatepicker]="picker2">
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                            <button fxFlex="20" mat-icon-button fuseWidgetToggle aria-label="more">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                        </div>

                        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                            <div class="light-blue-fg font-size-50 line-height-72">
                                {{dashBoardData.staticWidgets.numberOfCycles}}
                            </div>
                            <div class="h3 secondary-text font-weight-500">Cycles
                            </div>
                        </div>

                        <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
                            <span class="h5 secondary-text text-truncate">
                                # of Cycles:
                            </span>
                            <span class="h5 ml-8">
                                {{dashBoardData.staticWidgets.numberOfCycles}}
                            </span>
                        </div>
                    </div>
                    <!-- / Front -->

                    <!-- Back -->
                    <div class="fuse-widget-back p-16 pt-32">
                        <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                            aria-label="Flip widget">
                            <mat-icon class="s-16">close</mat-icon>
                        </button>

                        <div>
                            {{widgets.widget1.detail}}
                        </div>
                    </div>
                    <!-- / Back -->

                </fuse-widget>
                <!-- / Static Data 1 -->
                <!--  Static Data 2-->
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100"
                    fxFlex.gt-xs="50" fxFlex.gt-md="25">

                    <!-- Front -->
                    <div class="fuse-widget-front">
                        <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="h3">{{dateFormatter(dashBoardData.avgCycleCals)}}</div>
                            <button mat-icon-button fuseWidgetToggle aria-label="more">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                        </div>

                        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                            <div class="light-green-fg font-size-50 line-height-72">
                                {{dashBoardData.staticWidgets.avgCycleDuration}}
                            </div>
                            <div class="h3 secondary-text font-weight-500">Minutes
                            </div>
                        </div>

                        <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
                            <span class="h6 secondary-text text-truncate">
                                Average Duration
                            </span>
                            <span class="h5 ml-8">
                                {{dashBoardData.staticWidgets.avgCycleDuration}}
                            </span>

                        </div>
                    </div>
                    <!-- / Front -->

                    <!-- Back -->
                    <div class="fuse-widget-back p-16 pt-32">
                        <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                            aria-label="Flip widget">
                            <mat-icon class="s-16">close</mat-icon>
                        </button>

                        <div>
                            {{widgets.widget1.detail}}
                        </div>
                    </div>
                    <!-- / Back -->

                </fuse-widget>
                <!-- / Static Data 2 -->
                <!--  Widget Header -->
                <fuse-widget style="height: fit-content; align-self: flex-end;"
                    [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100"
                    fxFlex.gt-xs="100" fxFlex.gt-md="50">

                    <!-- Front -->
                    <div class="fuse-widget-front">
                        <div class="px-16 py-8 border-bottom" fxLayout="row" fxLayoutGap="12px"
                            fxLayoutAlign="end center" fxLayout="column" fxFlex="100" fxFlex.gt-xs="100"
                            fxFlex.gt-md="50">
                            <mat-form-field>
                                <mat-label>Choose a date</mat-label>
                                <input matInput [(ngModel)]="dashBoardData.cycleTimeStamp"
                                    (dateChange)="loadCycles(false)" [matDatepicker]="picker">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #picker></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field appearance="standard" *ngIf="dashBoardData.cycleTimeStamp">

                                <mat-select class="simplified"
                                    (selectionChange)="refreshDate(dashBoardData.selectedCycle)"
                                    [(ngModel)]="dashBoardData.selectedCycle" aria-label="Change range">
                                    <mat-option value="none">Select Cycle</mat-option>
                                    <mat-option *ngFor="let cycle of dashBoardData.loadedCycles | keys; let i=index"
                                        [value]="cycle.key">
                                        Cycle {{i}}
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>
                        </div>
                    </div>

                    <!-- / Front -->

                </fuse-widget>
                <!--  / Widget Header -->
                <!-- Flow Widget -->
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" fxLayout="row" fxFlex="100"
                    class="widget widget5">

                    <!-- Front -->
                    <div class="fuse-widget-front">
                        <div fxLayout="row wrap" fxLayoutAlign="start start">

                            <div class="h-320 my-16" fxLayout="row" fxFlex="100">
                                <ngx-charts-area-chart *ngIf="widgetFlow.ready" [scheme]="widgetFlow.supporting.scheme"
                                    [results]="widgetFlow.dataset" [gradient]="widgetFlow.gradient"
                                    [xAxis]="widgetFlow.xAxis" [yAxis]="widgetFlow.yAxis" [legend]="widgetFlow.legend"
                                    [showXAxisLabel]="widgetFlow.showXAxisLabel"
                                    [showGridLines]="widgetFlow.showGridLines"
                                    [xAxisTickFormatting]="widgetFlow.axisFormat"
                                    [showYAxisLabel]="widgetFlow.showYAxisLabel" [xAxisLabel]="widgetFlow.xAxisLabel"
                                    [yAxisLabel]="widgetFlow.yAxisLabel" [curve]="widgetFlow.supporting.curve"
                                    (select)="widgetFlow.onSelect($event)">
                                </ngx-charts-area-chart>
                            </div>


                        </div>
                    </div>
                    <!-- / Front -->

                </fuse-widget>
                <!-- / Flow WIDGET  -->
                <!-- Manifold Gadget -->
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100">

                    <!-- Front -->
                    <div class="fuse-widget-front">

                        <highcharts-chart *ngIf="ghantChatReady" [Highcharts]="Highcharts"
                            [constructorType]="'ganttChart'" [options]="optFromInput" [callbackFunction]="hcCallback"
                            [(update)]="updateFromInput" style="width: 100%; height: 100%; display: block;">
                        </highcharts-chart>

                    </div>
                    <!-- / Front -->

                </fuse-widget>
                <!-- / Manifold Gadget -->
                <!-- Pressure Widget -->
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" fxLayout="row" fxFlex="100"
                    class="widget widget5">

                    <!-- Front -->
                    <div class="fuse-widget-front">
                        <div fxLayout="row wrap" fxLayoutAlign="start start">
                            <div class="h-320 my-16" fxLayout="row" fxFlex="100">
                                <ngx-charts-line-chart *ngIf="widgetPressure.ready"
                                    [scheme]="widgetPressure.supporting.scheme" [results]="widgetPressure.dataset"
                                    [gradient]="widgetPressure.gradient" [xAxis]="widgetPressure.xAxis"
                                    [yAxis]="widgetPressure.yAxis" [legend]="widgetPressure.legend"
                                    [showXAxisLabel]="widgetPressure.showXAxisLabel"
                                    [autoScale]="widgetPressure.autoScale"
                                    [xAxisTickFormatting]="widgetPressure.axisFormat"
                                    [showYAxisLabel]="widgetPressure.showYAxisLabel"
                                    [curve]="widgetPressure.supporting.curve" [xAxisLabel]="widgetPressure.xAxisLabel"
                                    [yAxisLabel]="widgetPressure.yAxisLabel" (select)="widgetPressure.onSelect($event)">
                                </ngx-charts-line-chart>
                            </div>


                        </div>
                    </div>
                    <!-- / Front -->

                </fuse-widget>
                <!-- / Pressure Widget -->



            </div>
            <!-- / WIDGET GROUP -->


        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

    <!-- SIDEBAR -->
    <fuse-sidebar class="sidebar" name="project-dashboard-right-sidebar-1" position="right" lockedOpen="gt-md">

        <!-- SIDEBAR CONTENT -->
        <div class="content">

            <!-- WIDGET GROUP -->
            <div class="widget-group" fxLayout="column" fxFlex="100" [@animateStagger]="{value:'50'}">

                <!-- NOW WIDGET -->
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="pb-0">

                    <!-- Front -->
                    <div class="fuse-widget-front">

                        <div class="pl-16 pr-8 py-16" fxLayout="row" fxLayoutAlign="space-between center">

                            <div class="h3">{{dateNow | date: 'EEEE, HH:mm:ss'}}</div>


                        </div>

                        <div class="p-16 pb-24" fxLayout="column" fxLayoutAlign="center center">
                            <div class="h1 secondary-text">
                                <span>{{dateNow | date: 'MMMM'}}</span>
                            </div>

                            <div class="font-size-72 line-height-88 secondary-text font-weight-400">
                                {{dateNow | date: 'd'}}
                            </div>

                            <div class="h1 secondary-text">
                                <span>{{dateNow | date: 'y'}}</span>
                            </div>
                        </div>

                    </div>
                    <!-- / Front -->

                </fuse-widget>
                <!-- / NOW WIDGET -->

                <!-- WEATHER WIDGET -->
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}">

                    <!-- Front -->
                    <div class="fuse-widget-front" *ngIf="dashBoardData.weatherWidget">

                        <div class="pl-16 pr-8 py-16" fxLayout="row" fxLayoutAlign="space-between center">

                            <div class="h4" fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon class="secondary-text mr-8">place</mat-icon>
                                {{dashBoardData.weatherWidget.location.name}}
                            </div>


                        </div>

                        <div class="p-16 pb-32" fxLayout="column" fxLayoutAlign="center center">

                            <div fxLayout="row" fxLayoutAlign="center center">
                                <img [src]="dashBoardData.weatherWidget.current.condition.icon"
                                    [title]="dashBoardData.weatherWidget.current.condition.text"
                                    [alt]="dashBoardData.weatherWidget.current.condition.text">
                                <span title="Temperature" class="mat-display-2 m-0 font-weight-300 secondary-text">
                                    {{dashBoardData.weatherWidget.current.temp_f}}
                                </span>
                                <span class="font-size-48 font-weight-300 hint-text text-super ml-8">°</span>
                                <span class="mat-display-2 mb-0 font-weight-300 hint-text ng-binding">F</span>
                            </div>
                        </div>

                        <div class="p-16 by" fxLayout="row" fxLayoutAlign="space-between center">
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon fontSet="meteocons" fontIcon="icon-windy" class="s-16 secondary-text mr-8">
                                </mat-icon>
                                <span title="Wind Speed">
                                    {{dashBoardData.weatherWidget.current.wind_mph}}
                                </span>
                                <span class="secondary-text ml-5">MPH</span>
                            </div>

                            <div fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon fontSet="meteocons" fontIcon="icon-compass" class="s-16 secondary-text mr-8">
                                </mat-icon>
                                <span title="Wind Directoin">
                                    {{dashBoardData.weatherWidget.current.wind_dir}}
                                </span>
                            </div>

                            <div fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon fontSet="meteocons" fontIcon="icon-rainy" class="s-16 secondary-text mr-8">
                                </mat-icon>
                                <span title="Clouds">
                                    {{dashBoardData.weatherWidget.current.cloud}}
                                </span>
                            </div>
                        </div>

                        <div class="py-16" *ngIf="dashBoardData.weatherWidget.cycleDetails">
                            <span class="py-16 px-24 h3"> Current Cycle</span>
                            <div class="py-16 px-24" fxLayout="row" fxLayoutAlign="space-between center">
                                <span
                                    class="h4">{{dashBoardData.weatherWidget.cycleDetails.timeStamp | date: 'EEEE, HH:mm:ss'}}</span>
                                <div fxLayout="row" fxLayoutAlign="start center">


                                    <span class="h2">{{dashBoardData.weatherWidget.cycleDetails.temperature}}</span>
                                    <span class="h2 font-weight-300 secondary-text text-super">&deg;</span>
                                    <span class="h2 font-weight-300 secondary-text">
                                        F
                                    </span>
                                </div>

                            </div>

                            <div class="tags mb-24 py-16 px-24"
                                *ngIf="dashBoardData.weatherWidget.cycleAlerts.length > 0" fxFlexFill
                                fxLayout="row wrap">
                                <div class="tag" fxLayout="row" fxLayoutAlign="start center"
                                    *ngFor="let alert of dashBoardData.weatherWidget.cycleAlerts">
                                    <div class="tag-color"></div>
                                    <div
                                     [matTooltip]="'Fault Segment ' + alert.faultSegment"
                                     matTooltipPosition="above"
                                     class="tag-label">{{alert.alertType}}</div>
                                </div>
                            </div>
                            <div class="tags mb-24 py-16 px-24"
                                *ngIf="dashBoardData.weatherWidget.cycleAlerts.length == 0" fxFlexFill
                                fxLayout="row wrap">
                                <div class="tag" fxLayout="row" fxLayoutAlign="start center">
                                    <div class="tag-color" style="background-color: green;"></div>
                                    <div class="tag-label">No Alerts</div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- / Front -->

                </fuse-widget>
                <!-- / WEATHER WIDGET -->
                <!--- Plant Image-->
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}">

                    <!-- Front -->
                    <div class="fuse-widget-front" *ngIf="projectDetails && projectDetails.projectLogo">

                        <div class="pl-16 pr-8 py-16" fxLayout="row" fxLayoutAlign="space-between center">

                            <div class="h4" fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon class="secondary-text mr-8">work</mat-icon>
                                {{projectDetails.name}}
                            </div>


                        </div>

                        <div class="p-16 pb-32" fxLayout="column" fxLayoutAlign="center center">

                            <div fxLayout="row" fxLayoutAlign="center center">
                                <a href="{{dashBoardData.getOrignalImage(projectDetails.projectLogo)}}" target="_blank">
                                    <img [src]="projectDetails.projectLogo" [title]="projectDetails.name"
                                        [alt]="projectDetails.name">
                                </a>
                            </div>
                        </div>

                    </div>
                    <!-- / Front -->

                </fuse-widget>
                <!-- Plant Image-->
            </div>
            <!-- / WIDGET GROUP -->

        </div>
        <!-- / SIDEBAR CONTENT -->

    </fuse-sidebar>
    <!-- / SIDEBAR -->

</div>