<div class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->
        <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
            <h2 class="m-0">Historical System Report</h2>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8">
                <mat-form-field>
                    <mat-label>From</mat-label>
                    <input matInput [matDatepicker]="picker1" [(ngModel)]="reportDates.from">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>

                <mat-form-field style="margin-left: 5px;">
                    <mat-label>To</mat-label>
                    <input matInput [matDatepicker]="picker2" [(ngModel)]="reportDates.to">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>

                <button style="margin-left: 5px;" mat-raised-button class="accent"
                    (click)="getReportData(reportDates.from, reportDates.to)">Run</button>
                <button *ngIf="reportStats || rows" style="margin-left: 5px;" mat-raised-button class="accent" (click)="exportCsv()">Export</button>
                <button  style="margin-left: 5px;" mat-raised-button class="accent" (click)="getDetailReportData(reportDates.from, reportDates.to)">Detail Report</button>

            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content p-24" fxLayout="row wrap" fxFlex="100" fusePerfectScrollbar>


                <div fxLayout="row" fxFlex="100" *ngIf="reportStats">
                    <div class="p-16" fxFlex="100" fxLayout="row" fxLayoutAlign="start center">
                        <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">
                            <div class="p-10">
                                <h3 class="m-0">Average Cycle Time</h3>
                                <h4 class="mt-0 secondary-text">{{reportStats.avgCycleDuration || 0}} Minutes</h4>
                            </div>

                            <div class="p-10">
                                <h3 class="m-0">Longest Cycle</h3>
                                <h4 class="mt-0 secondary-text">{{reportStats.longestCycle || 0}} Minutes</h4>

                            </div>
                        </div>
                        <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">
                            <div class="p-10">
                                <h3 class="m-0">Total Cycles Run</h3>
                                <h4 class="mt-0 secondary-text">{{reportStats.totalCycles}}</h4>
                            </div>

                            <div class="p-10">
                                <h3 class="m-0">Total Water Consumed</h3>
                                <h4 class="mt-0 secondary-text">{{reportStats.waterConsumed}} Gallons</h4>

                            </div>
                        </div>

                    </div>
                </div>

                <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="100">
                    <div fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-md="50">
                        <h2>Pressure Summary(PSIG)</h2>
                        <ngx-datatable class="material" [rows]="rows" [loadingIndicator]="loadingIndicator"
                            [columnMode]="'force'" [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'"
                            [scrollbarH]="true" [reorderable]="reorderable" [limit]="10">

                            <ngx-datatable-column [width]="48" [canAutoResize]="true" [sortable]="false">
                                <ng-template ngx-datatable-header-template let-value="value"
                                    let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
                                </ng-template>

                                <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
                                    let-onCheckboxChangeFn="onCheckboxChangeFn">
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column *ngFor="let col of columnsConfigs.pressure" [name]="col.name"
                                [prop]="col.prop"></ngx-datatable-column>

                        </ngx-datatable>
                    </div>
                    <div fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-md="50">
                        <h2>Flow Summary(GPM)</h2>
                        <ngx-datatable class="material" [rows]="rows" [loadingIndicator]="loadingIndicator"
                            [columnMode]="'force'" [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'"
                            [scrollbarH]="true" [reorderable]="reorderable" [limit]="10">

                            <ngx-datatable-column [width]="48" [canAutoResize]="false" [sortable]="false">
                                <ng-template ngx-datatable-header-template let-value="value"
                                    let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
                                </ng-template>

                                <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
                                    let-onCheckboxChangeFn="onCheckboxChangeFn">
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column *ngFor="let col of columnsConfigs.flow" [name]="col.name"
                                [prop]="col.prop"></ngx-datatable-column>

                        </ngx-datatable>
                    </div>
                </div>




            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>