<div class="sidebar-content">

    <div class="card">

        <!-- SIDEBAR HEADER -->
        <div class="header p-24" fxLayout="row" fxLayoutAlign="start center">

            <!-- USER -->
           
            <span class="h5">Projects</span>
            <!-- / USER -->

        </div>
        <!-- / SIDEBAR HEADER -->

        <!-- SIDEBAR CONTENT -->
        <div class="content py-16" fusePerfectScrollbar>

            <div class="nav material2">

                <div class="nav-item" aria-label="inbox">
                    <a class="nav-link" matRipple (click)="changeFilter('all')"
                       [ngClass]="{'active accent':filterBy ==='all'}">
                        <span class="title">All Users</span>
                    </a>
                </div>

                <div class="nav-item" *ngFor="let p of projects" (click)="changeFilter(p.projectID)">
                    <a class="nav-link" matRipple [ngClass]="{'active accent':filterBy === p.projectID}">
                        <div class="title">{{p.name}}</div>
                    </a>
                </div>

               
            </div>

        </div>

    </div>

</div>
<!-- / SIDEBAR CONTENT -->
