<h2 mat-dialog-title>Edit Alert Settings</h2>
<mat-dialog-content class="mat-typography">
    <table class="simple clickable">
        <thead>
            <tr>
                <th class="text-left">Segment</th>
                <th class="text-left">High Flow</th>
                <th class="text-left">Low Flow</th>
                <th class="text-left">High Pressure</th>
                <th class="text-left">Low Pressure</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of monitoringValues.settings">
                <td class="text-left">
                    <mat-form-field class="example-full-width">
                        <mat-label>Segment</mat-label>
                        <input disabled matInput [value]="row.key">
                    </mat-form-field>
                </td>
                <td class="text-left">
                    <mat-form-field class="example-full-width">
                        <mat-label>High Flow</mat-label>
                        <input matInput [(ngModel)]="row.maxFlow" type="number" [value]="row.maxFlow">
                    </mat-form-field>
                </td>
                <td class="text-left">
                    <mat-form-field class="example-full-width">
                        <mat-label>Low Flow</mat-label>
                        <input matInput [(ngModel)]="row.minFlow" type="number" [value]="row.minFlow">
                    </mat-form-field>
                </td>
                <td class="text-left">
                    <mat-form-field class="example-full-width">
                        <mat-label>High Pressure</mat-label>
                        <input matInput [(ngModel)]="row.maxPressure" type="number" [value]="row.maxPressure">
                    </mat-form-field>
                </td>
                <td class="text-left">
                    <mat-form-field class="example-full-width">
                        <mat-label>Low Pressure</mat-label>
                        <input matInput [(ngModel)]="row.minPressure" type="number" [value]="row.minPressure">
                    </mat-form-field>
                </td>
            </tr>
        </tbody>
    </table>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="matDialogRef.close(['close',null])">Cancel</button>
    <button mat-button (click)="matDialogRef.close(['update',monitoringValues])" cdkFocusInitial>Save</button>
</mat-dialog-actions>